.read-more-container {
    max-width: 100%; /* Adjust as needed */
    overflow: hidden;
    position: relative;
  }
  
  .text {
    transition: max-height 0.5s ease-out;
    max-height: 100px; /* Adjust the initial height */
    overflow: hidden;
  }
  
  .text p {
    margin: 0 0 10px; /* Add margin between paragraphs */
  }
  
  .show-full-text {
    max-height: 1000px; /* Adjust to a large enough value */
  }
  
  .subLink {
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    padding-bottom: 50px;
  }
  